---
eleventyComputed: metadata.title
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h2>Hey there! I'm Ehqo.</h2>

This is my personal website. It acts as my digital garden as I explore the web.

{% set maxPosts = collections.posts.length | min(3) %}
<h6>Some things I've been thinking about:</h6>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "partials/postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
