---
eleventyComputed: metadata.title
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h2>Hey there! I'm Ehqo.</h2>

This is my personal website. It acts as my digital garden as I explore the web.

{% set maxPosts = collections.posts.length | min(3) %}
<h4>Some {% if maxPosts == 1 %}stuff{% else %}{{ maxPosts }} things{% endif %} I've been writing:</h4>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
