<!doctype html>
<html lang="{{ metadata.language }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title }}</title>
  <meta name="description" content="{{ description or metadata.description }}">
  <meta name="generator" content="{{ eleventy.generator }}">

  <link rel="icon" href="{{ '/img/favicon.ico' | url }}" type="image/x-icon">

  <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/prism-diff.css' | url }}">

  <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
  <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">

  <script defer src="https://cloud.umami.is/script.js" data-website-id="d75aee2b-8f8e-4aa5-965e-632990d54957"></script>
</head>

<body>
  <header>

    {% include "partials/_nav.njk" %}


  </header>

  <main>
    {{ content | safe }}
  </main>

  {% include "partials/_footer.njk" %}

  <!-- Current page: {{ page.url | url }} -->
</body>

</html>
