---
layout: layouts/base.njk
---
<header>
    <h1>{%- if title %}{{ title }}{%- else %}{{ metadata.title }}{%- endif %}</h1>
    <p>{% if description %}{{ description }}{% endif %}</p>
    </header>
    
{{ content | safe }}
